{{outlet}}
{{textarea placeholder="Add a title!" value=noteTitle class="titleOfNote"}}
{{textarea value=noteTitle class="titleOfNote"}}
<div class="textBox">
  {{textarea placeholder="Add a note!" value=noteCopy}}
</div>
<div class="exampleTextArea">
  {{textarea value=noteCopy}}
</div>
<div class="createButton">
  <button {{action 'newNote'}}>Save Note</button>
</div>
<div class="flash">
  {{message-queue}}
</div>
<hr>
<hr>

{{#each note in model}}
<div class="note">
  {{note.title}}
  <hr>
  {{note.body}}
  {{local-note body=note.body id=note.id deleteNote="deleteNote"}}
</div>
{{/each}}
